body {
  background-color: #c2f0ff; /* Голубий фон */
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between; /* Додає відстань між лівою і правою колонкою */
    padding: 20px;
}

.left-column {
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  width: 167px;
  height: 600px;
}

button {
  display: block;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.file-input-label {
  cursor: pointer;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

.file-input {
  display: none;
}

label {
  margin-top: 10px;
  display: block;
}

input,
select {
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
}

.range-slider {
  width: 100%;
}

.right-column {
  display: flex;
  flex-direction: row;
  row-gap: 30px;
  align-items: center;
  margin-right: 20px;
}

.image-container,
.canvas-container {
  margin-top: 20px;
}

.image-container img,
.canvas-container canvas {
  width: 600px;
  height: 500px;
  border: 1px solid black;
}

.bottom-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

button#backToMenuBtn,
button#saveToFileBtn {
  display: block;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
