.h3 {
  position: undefined;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 1046px;
  height: 116px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 0 160px;
}
.div,
.frame,
.h3 {
  flex-shrink: 0;
}
.div {
  position: undefined;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 742px;
  height: 41px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 312px;
}
.frame {
  width: 1206.3px;
  height: 185px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  text-align: center;
  font-size: 35px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child {
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-lightcyan);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 421.3px;
  height: 178.4px;
}
.div2 {
  position: relative;
  font-size: var(--font-size-6xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 356.9px;
  height: 112.5px;
  flex-shrink: 0;
  margin-top: -109px;
}
.frame2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 421.3px;
  height: 181.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.div3 {
  position: undefined;
  display: inline-block;
  width: 347px;
  height: 108.3px;
  flex-shrink: 0;
  margin-left: 47px;
}
.div1 {
  width: 421.3px;
  height: 316.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 26px;
}
.div6 {
  position: relative;
  display: inline-block;
  width: 347px;
  height: 108.3px;
  flex-shrink: 0;
}
.div4 {
  width: 421.3px;
  height: 318.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.div9 {
  position: relative;
  display: inline-block;
  width: 369.3px;
  height: 108.3px;
  flex-shrink: 0;
}
.div7 {
  width: 421.3px;
  height: 314.3px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.div7,
.frame1,
.mainmenu {
  display: flex;
  justify-content: flex-start;
}
.frame1 {
  width: 1378px;
  height: 318.5px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  gap: 57px;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
.mainmenu {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: #dce6e3;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 841px;
  flex-direction: column;
  align-items: flex-start;
  padding: 78px 29.741943359375px;
  gap: 63px;
}
