body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #c2f0ff;
}
.main-container {
    display: flex;
    justify-content: space-between;
}

.leftColumn {
    background-color: rgb(205, 238, 246);
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rightColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
}


.button {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
}

.button:hover {
    background-color: #c1f9f5;
}

canvas {
    position: absolute;
    top: 20px;
    right: 180px;
    border: 1px solid black;
    
}